.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:burlywood;
    font-size: 20px;
    font-style:oblique;
    
    }
    /* .Rea{
        font-size: 40px;
        text-align: center;
         margin-top: 10px; 
        font-style: italic;
        color: brown;
    } */
    
    /* .form-check-input{
        margin-left: 110px;
    }
    
    .form-check-label{
        margin-right: 120px;
    } */